@media screen and (max-width:500px) {
    .MC {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .MC img{
        width: 100%;
        height: auto;
    }
    .HH {
        margin: 0 auto;
    }
    .HH img {
        width: 100%;
        height: auto;
    }

    .HH {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (min-width:600px) {


    .MC {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .MC img{
        width: 50%;
        height: auto;
    }
    .HH {
        margin: 0 auto;
    }
    .HH img {
        width: 50%;
        height: auto;
    }

    .HH {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}